#tablaListado_wrapper .dataTables_length{
    left: 15px;
}
#tablaListado_wrapper .dataTables_filter{
    float: right;
}
.b-radio{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.myErrorClass{
    color: #ff0039;
    /*display: none !important;*/
}
.has-error-form:focus,
.has-error-form {
    border-color: #f6675d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.th-head-inputs>th{
    text-align: center;
}

.tbody-vertical-align>tr>td{
    vertical-align: middle !important;
}

.tbody-center>tr>td{
    vertical-align: middle !important;
    padding-bottom: 10px !important;
}
.tbody-center>tr>td:first-child{
    padding-left: 10px !important;
}
.footTablaListado {
    display: table-header-group;
}
.footTablaListado tr th input{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
}
#tablaListado>tbody>tr>td{
    vertical-align: middle;
}

.row-none #tablaListado_wrapper>.row:first-child{
    padding-left: 10px;
    padding-right: 10px;
}

.row-none #tablaListado_wrapper>.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row-none #tablaListado_wrapper>.row:last-child{
    padding-left: 10px;
    padding-right: 10px;
}

.row-none #tablaListado_wrapper{
    padding-bottom: 20px;
}